
 <div class="video-container container" style="background-color: black;">
  <img src="../assets/Logo.png" class="responsive-img" style="width: 33%;">
    <iframe 
      width="560" 
      height="315" 
      src="https://www.youtube.com/embed/7wMu1EDAJf0" 
      frameborder="0" 
      allowfullscreen>
    </iframe>
    <a href="https://trade.astronbroker.com/register?aff=751601&aff_model=revenue&afftrack=" target="_blank" class="video-link">
      CLIQUE AQUI PARA USAR A CORRETORA QUE TEM A MAIOR ASSERTIVIDADE COM O MÉTODO ENSINADO NA AULA (TESTADO POR MIM)
    </a>
  </div>

