html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  body {
    background-color: black !important;
  }

  /* Contêiner para centralizar na tela toda */
.video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* Ajuste do vídeo */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsividade do vídeo */
.video-container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

/* Link abaixo do vídeo */
.video-link {
  margin-top: 10px;
  font-size: 18px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: block;  /* Faz o link ocupar toda a largura */
  text-align: center; /* Centraliza o texto */
  margin-top: 10px;
  font-size: 18px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

body {
    background-color: black !important;
  }



 
